#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&top_encoder { status = "okay"; steps = <80>; };

#define BASE 0
#define FUNC 1
#define CONN 2

/ {  
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";

            bindings = <
                &kp C_PREV    &kp C_NEXT    &kp C_MUTE
                &kp C_PP      &kp UP        &mo 1
                &kp LEFT      &kp DOWN      &kp RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        }; 


        function_layer {
            display-name = "FUNC";

            bindings = <
                &kp F22             &kp F23             &to 2
                &kp F24             &kp LG(LS(UP))      &trans                          
                &kp LG(LS(LEFT))    &kp LG(LS(DOWN))    &kp LG(LS(RIGHT))
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        connection_layer {
            display-name = "CONN";
            
            bindings = <
                &none               &none               &to 2
                &none               &kp LG(LS(UP))      &trans                          
                &kp LG(LS(LEFT))    &kp LG(LS(DOWN))    &kp LG(LS(RIGHT))
            >;
            sensor-bindings = <&inc_dec_kp &none &none>;
        };

    };
};

&sensors {
    top_config {
        triggers-per-rotation = <24>;
    };
};